html {
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 50px auto;
}

.home-banner {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;
}

.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2bb673+0,1069a5+100 */
  background: rgb(43,182,115); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(43,182,115,1) 0%, rgba(16,105,165,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(43,182,115,1) 0%,rgba(16,105,165,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(43,182,115,1) 0%,rgba(16,105,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bb673', endColorstr='#1069a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
