html, body {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 50px auto;
}

.profile-banner {
  margin: 30px 0;
}

.profile-header {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: rgba(170, 170, 170, 1);
  background: url("../images/profile_placeholder.png") no-repeat center;
  background-size: contain;
  margin: 0 auto;
}

.profile-content {
  margin: 0 auto;
  max-width: 700px;
  font-size: 18px;
}

.profile-content li {
  margin: 0;
  padding: 0;
}

.profile-content > div {
  margin: 20px 0;
}

.add-photo {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
}

.add-photo > div {
  position: absolute;
  width: 100%;
  top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-photo > div > i {
  margin-right: 5px;
  font-size: 15px;
}

.profile-form > .form-group {
  margin: 20px 0;
}

.profile-form > .form-group > label {
  font-weight: 900;
  font-size: 20px;
  color: #666;
}

.profile-form > .form-control {
  border-radius: 0;
  border: 1px solid #aaa;
}

.profile-nav {
  display: block;
  text-align: center;
}

.profile-navbar {
  border: 2px solid #aaa;
  /*border-radius: 2px;*/
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
}

.profile-nav-btn {
  margin: 0;
  padding: 5px 10px;
  border: none;
  background-color: white;
  color: #666;
  text-transform: uppercase;
  text-align: center;
}

.profile-nav-btn:focus {
  outline: none;
}

.profile-nav-btn-active {
  background-color: #aaa;
  color: white;
  border: 2px solid #aaa;
}

.block-btn {
  display: block;
  padding: 5px 40px !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 20px !important;
  margin: 50px auto 20px;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-black {
  font-weight: 900;
}
