<div class="text-center">
    <h2>Here are the appointments that are available to book</h2>
</div>
<div ng-repeat="listing in listingsComp.listings">
    <div class="well">
        <div class="listing">
            <p>Company:<span><h3>{{listing.company}}</h3></span></p>
             <p>Address: <span>{{listing.address}}</span></p>
            <p>Phone: <span>{{listing.phoneNumber}}</span></p>
            <div class="service well">
                <h4>Service:</h4>
                <p><strong>{{listing.service}}</strong></p>
                <p>When: <span><strong>{{listing.date}} at {{listing.time}}</strong></span></p>
                <p>Price: <span>${{listing.price}}</span></p>
                <p>Duration: <span>{{listing.duration}} minutes</span></p>
            </div>
        </div>
        <button class="btn btn-primary push-right" type="button" name="button">Book this</button>
    </div>
</div>
