<h1>provider page</h1>

<p>form to add a provider here</p>
<div>
  <form ng-submit="ProviderComp.new()">
    <div class="form-group">
      <label for="company">your company name</label>
      <input type="text" class="form-control" id="" placeholder="e.g. Liana Hair Salon" ng-model="ProviderComp.data.company">
    </div>
    <div class="form-group">
      <label for="industry">industry</label>
      <input type="text" class="form-control" id="" placeholder="e.g. Hair, Massage, Mechanic" ng-model="ProviderComp.data.industry">
    </div>
    <div class="form-group">
      <label for="address">address</label>
      <input type="text" class="form-control" id="" placeholder="e.g. 123 Fake Street, Springfield" ng-model="ProviderComp.data.address">
    </div>
    <div class="form-group">
      <label for="phoneNumber">phone number</label>
      <input type="text" class="form-control" id="" placeholder="e.g. 555-555-5555" ng-model="ProviderComp.data.phoneNumber">
    </div>
    <div class="form-group">
      <label for="bio">bio</label>
      <input type="text" class="form-control" id="" placeholder="e.g. we do hair and it's great" ng-model="ProviderComp.data.bio">
    </div>
    <div class="form-group">
      <label for="services">services provided</label>
      <input type="text" class="form-control" id="" placeholder="separate your services by commas" ng-model="ProviderComp.data.services">
    </div>
    <button type="submit">submit</button>
  </form>
</div>
